<div class="container">
    <img src="https://cdn-icons-png.flaticon.com/512/1205/1205049.png">
    <div class="name">
        <h1>Mniami</h1>
        <h1>Mniami</h1>
        <h3>Zapraszamy:</h3>
        <h3>Pon-Pt: 8:00 - 18:00</h3>
        <h3>Sob: 10:00 - 16:00</h3>
        <h3>Ndz: Nieczynne</h3>
    </div>
    <div class="contact">
        <h2>Address: 99-999 Mniami</h2>
        <h2>ul. Mniami Mniami 15/6</h2>
        <h2>Contact Number: 888-888-888</h2>
        <h2>Contact Email: MniamiMniami@mniami.com</h2>
    </div>
    <img class = "map" src="https://grafmag.pl/storage/media/5/f/5f14615696649541a025d3d0f8e0447f/03-mapa-na-stronie-internetowej-przy-wykorzystaniu-google-maps-api.jpg">
</div>